{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h2>

    Dashboard

</h2>

<hr>

<div class="row">

    <div class="col-md-4">

        <div class="card shadow">

            <div class="card-body">

                <h5>

                    Total Documents

                </h5>

                <h2>

                    0

                </h2>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow">

            <div class="card-body">

                <h5>

                    OCR Processed

                </h5>

                <h2>

                    0

                </h2>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow">

            <div class="card-body">

                <h5>

                    Vendors

                </h5>

                <h2>

                    0

                </h2>

            </div>

        </div>

    </div>

</div>

<hr>

<h4>

    Invoice History

</h4>

<table class="table table-bordered">

    <thead>

        <tr>

            <th>ID</th>

            <th>Vendor</th>

            <th>Invoice No</th>

            <th>Date</th>

            <th>Total</th>

        </tr>

    </thead>

    <tbody>

        <tr>

            <td colspan="5" class="text-center">

                No Records Found

            </td>

        </tr>

    </tbody>

</table>

{% endblock %}