{% extends "base.html" %}

{% block title %}
Home | SmartDoc AI
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="row align-items-center">

        <!-- Left Section -->
        <div class="col-lg-6">

            <h1 class="display-4 fw-bold text-primary">
                SmartDoc AI
            </h1>

            <p class="lead mt-3">
                AI-Powered Intelligent Document Processing System
            </p>

            <hr>

            <ul class="list-group list-group-flush mb-4">

                <li class="list-group-item">
                    ✅ Upload Invoice / Receipt / Bill
                </li>

                <li class="list-group-item">
                    ✅ Extract Text using EasyOCR
                </li>

                <li class="list-group-item">
                    ✅ Convert OCR Text into Structured JSON
                </li>

                <li class="list-group-item">
                    ✅ Store Invoice Data in MySQL
                </li>

            </ul>

            <!-- Upload Form -->

            <form action="/upload"
                  method="POST"
                  enctype="multipart/form-data">

                <div class="mb-3">

                    <label class="form-label fw-bold">

                        Select Invoice

                    </label>

                    <input
                        type="file"
                        name="file"
                        class="form-control"
                        accept=".pdf,.png,.jpg,.jpeg"
                        required>

                </div>

                <button
                    type="submit"
                    class="btn btn-primary btn-lg">

                    Upload Document

                </button>

            </form>
            <a href="/history" class="btn btn-secondary">
                View Invoice History
            </a>

        </div>

        <!-- Right Section -->

        <div class="col-lg-6 text-center">

            <img
                src="{{ url_for('static', filename='images/document.png') }}"
                class="img-fluid"
                alt="Document"
                width="450">

        </div>

    </div>

</div>

{% endblock %}